.instrumento-container {
    width: 800px; /* Ancho similar al de Mercado Libre */
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .instrumento-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .instrumento-titulo-imagen {
    display: flex;
    align-items: center;
  }
  
  .instrumento-imagen {
    width: 200px; /* Ancho similar al de Mercado Libre */
    height: auto;
    margin-right: 20px;
  }
  
  .instrumento-precio-envio {
    text-align: right;
  }
  
  .instrumento-precio {
    font-size: 20px; /* Tamaño de fuente más grande para el precio */
    font-weight: bold;
    color: #2196F3; /* Color azul para el precio */
  }
  
  .instrumento-costo-envio {
    margin-top: 5px;
    font-size: 14px;
    color: #777;
  }
  
  .instrumento-detalles {
    margin-bottom: 20px;
  }
  
  .instrumento-marca,
  .instrumento-modelo {
    font-weight: bold;
  }
  
  .instrumento-descripcion {
    line-height: 1.8;
  }
  
  .instrumento-acciones {
    display: flex;
    justify-content: space-between;
  }
  
  .instrumento-boton-agregar,
  .instrumento-boton-comprar {
    display: block;
    width: 100%;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .instrumento-boton-agregar:hover {
    background-color: #0056b3;
  }
  
  .instrumento-boton-comprar {
    background-color: #0056b3; /* Color azul más oscuro para el botón "Comprar ahora" */
  }