.instrumento-container {
  width: 800px; /* Ancho similar al de Mercado Libre */
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.instrumento-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.instrumento-titulo-imagen {
  display: flex;
  align-items: center;
}

.instrumento-imagen {
  width: 200px; /* Ancho similar al de Mercado Libre */
  height: auto;
  margin-right: 20px;
}

.instrumento-precio-envio {
  text-align: right;
}

.instrumento-precio {
  font-size: 20px;
  font-weight: bold;
  color: #2196f3;
}

.instrumento-costo-envio {
  margin-top: 5px;
  font-size: 14px;
  color: #777;
}

.instrumento-detalles {
  margin-bottom: 20px;
}

.instrumento-marca,
.instrumento-modelo {
  font-weight: bold;
}

.instrumento-descripcion {
  line-height: 1.8;
}

.instrumento-acciones {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.instrumento-boton-agregar,
.instrumento-boton-comprar,
.instrumento-boton-modificar,
.instrumento-boton-eliminar {
  padding: 10px 20px;
  min-width: 100px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.4s ease;
}

.instrumento-boton-agregar:hover {
  background-color: #a6aab1;
}

.instrumento-boton-comprar {
  background-color: #2196f3;
}

.instrumento-boton-comprar:hover {
  background-color: #1563a3;
}

.instrumento-boton-modificar {
  background-color: #ffc107;
  color: #333;
}

.instrumento-boton-modificar:hover {
  background-color: #e0a800;
}

.instrumento-boton-eliminar {
  background-color: #dc3545;
  color: #fff;
}

.instrumento-boton-eliminar:hover {
  background-color: #bd2130;
}
